*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 223, 209);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    gap: 2vw;
    width: 30%;
}

.container h1 {
    color: rgb(255, 128, 0);
    font-weight: 900;
    font-size: 2.5vw;
}

.container section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
}

.container section input {
    font-size: 1.2vw;
    padding: 1vw;
    border-radius: 30px;
    border: none;
    background-color: rgb(252, 240, 234);
    width: 100%;
    text-align: center;
}

.container section input::placeholder{
    color: rgb(166, 165, 163);
}

.container section button {
    width: 100%;
    padding: 1vw;
    font-size: 1.2vw;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(255, 128, 0);
    font-weight: 900;
    transition: all 0.5s;
}

.container section button:hover {
    background-color: rgb(202, 104, 5);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    max-height: 30vh;
    gap: 20px;
    width: 100%;
}

ul li {
    background-color: rgb(252, 240, 234);
    padding: 1vw 2vw;
    width: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: popup 0.5s 1 linear ;
}

@keyframes popup {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

ul li a {
    color: rgb(255, 128, 0);
    font-size: 1.2vw;
    font-weight: 900;
}

ul li button {
    padding: 0.5vw;
    border-radius: 30px;
    border: none;
    background-color: rgb(255, 8, 0);
    color: white;
    transition: all 0.5s;
}
ul li button:hover {
    background-color: brown;
}